.Notice {
    width: 100%;
    margin: 0;
}

.dismissButton {
    background-color: transparent;
    border: none;
}

.dismissButton i {
    color: white;
}

.noticeText {

}

.orange {
    background-color: orange;
    color: blue
}

.grey {
    background-color: grey;
    color: white;
}

.red {
    background-color: red;
    color: white;
}

.black {
    background-color: black;
    color: white;
}

.blue {
    background-color: lightblue;
    color: white;
}

.green {
    background-color: green;
    color: white;
}