.ScreenSaver {
    margin-top: 30px;
    text-align: center;
    background-color: #282c34;

    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*min-height: 100vh;*/
    /*justify-content: center;*/
}

.logo {
    font-size: calc(40px + 2vmin);
    margin-bottom: 20px;
}

.slogan {
    font-size: calc(10px + 2vmin);
    margin-bottom: 30px;
}

.box {

}
.ScreenSaver Button {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background: none;
    border: none;
    color: white;
    height: 50px;
    display:block;
    cursor: pointer;
    transform-origin: bottom;
    animation-name: bounce-5;
    animation-timing-function: ease;
}
/*https://css-tricks.com/making-css-animations-feel-natural/*/
@keyframes bounce-5 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-10px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-2px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

